/* белый цвет background и текста: #FFFFFF */
/* вторичный белый цвет background #E5E5E5 */
/* третичный белый цвет background: #F5F4FA */
/* черный цвет  background: #2F303A */
/* цвет текста черный  #212121 */
/* цвет текста акцент голубой  #2196F3 */
/*основной цвет текста серый  #757575 */
/* белый цвет текста  футера с прозрачностью #FFFFFF99 */

:root {
  --primary-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-white-background: #e5e5e5;
  --tertiary-white-background: #f5f4fa;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-background: #2f303a;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
}

/*  Ресет */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
/*   Цвет фона секций страницы портфолио */
.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}
.main {
  background-color: var(--main-background-color);
}
/* Оформление надписи логотипа вверху и внизу*/
.footer-logo-link,
.header-logo-link {
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-logo-link {
  color: var(--title-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
  margin-right: 93px;
}
.footer-logo-link {
  color: var(--main-background-color);
  display: inline-block;
  margin-bottom: 20px;
}

/* Делает слово  web в логотипе голубым */
.logo-web {
  color: var(--accent-color);
}

/*  Секция герой на странице студии */
.hero {
  background-color: var(--dark-background);
  text-align: center;
}
.hero-title {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}

/* Утилитный класс */
.list {
  list-style-type: none;
}

/* Главная навигация страницы */
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
}

.header-container {
  display: flex;
}
.header-connect {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Оформление контактов в хэдере */
.contact-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.contact-info-item {
  color: var(--primary-text-color);
  text-decoration-line: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.contact-info .info + .info {
  margin-left: 50px;
}

.contact-info-item:hover,
.contact-info-item:focus {
  color: var(--accent-color);
}

.page-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.page-filter .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  background-color: var(--tertiary-white-background);
  border-color: transparent;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Скрытый заголовок */

.hidden-title {
  display: none;
}

.feature-list {
  display: flex;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-description {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-list-item {
  margin-right: 30px;
  min-width: 270px;
}

.feature-list-item:nth-child(4n) {
  margin-right: 0;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-work {
  background-color: var(--main-background-color);
  text-align: center;
  padding-top: 0;
}

.work-photo-list {
  display: flex;
}

.work-photo-item {
  margin-right: 30px;
}

.img-work,
.img-team,
.img-project {
  width: 100%;
  height: auto;
}

.work-photo-item:nth-child(3n) {
  margin-right: 0;
}

.section-team {
  background-color: var(--tertiary-white-background);
  text-align: center;
}

.profile {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-item {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

.card-item:nth-child(4n) {
  margin-right: 0;
}

.card-list {
  display: flex;
}

.teamplayer-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.teamplayer-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.project-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.project-example {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
}

.project-link {
  display: block;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
/* Оформление футера */

.footer {
  background-color: var(--dark-background);
}

.footer-logo-link {
  color: var(--main-background-color);
  text-decoration-line: none;
}

.address-first-item {
  color: var(--main-background-color);
}
.address-first-item:hover,
.address-first-item:focus {
  color: var(--accent-color);
}

.address-item {
  color: var(--secondary-text-color);
}

.footer-address .footer-item + .footer-item {
  margin-top: 9px;
}

.address-first-item,
.address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  font-style: normal;
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}
